/* HTML - General */
:root {
  --color-azul-marino: #222960;
  --color-verde-claro: #66cc99;
  --color-blanco: #ffffff;
  --color-gris: #7c7f83;
  --color-gris-claro: #e0e0e0;
  --color-amarillo-suave: #ffd700;
  --color-naranja: #ff6600;
  --color-negro: #0C1033;
  --color-black: #000000;
  --color-azul: #2D5EC7;
  --color-celeste: #00B3E0;
  --color-botones: #64b1dd;

}
@font-face {
  font-family: 'Fuente';
  src: url('/font/augmento-extended-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fuente', 'augmento';
}

body {  
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

/* Scrollbar personalizado para navegadores basados en WebKit */
body {
  --sb-size: 13px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--color-azul-marino);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-blanco);
  border-radius: 42px;
  border: 2px solid var(--color-azul-marino);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gris);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--color-blanco) var(--color-azul-marino);
  }
}
/* Mostrar contenido al scrolear */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.title-gradient {
  background: linear-gradient(90deg, #00c4de, #d41fd7); /* Gradiente en color */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Headers y textos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: var(--color-blanco);
}

p,
a,
li {
  font-family: 'Lato', sans-serif;
}

/* Barra de Navegación */
/* RESPONSIVE */
.nav-toggle {
  display: none;
  font-size: 2rem;
  color: var(--color-blanco);
  cursor: pointer;
  padding: 10px;
}
/* RESPONSIVE */
.navbar {
  padding: 10px 20px;
  background-color: var(--color-black);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: .5rem auto;
}

.logo img {
  height: 3.5rem;
}

.nav-links {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
  transition: justify-content 0.3s ease;
}

.nav-links.center {
  justify-content: center;
}

.nav-links a,
.nav-register a {
  color: var(--color-blanco);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  position: relative;
  font-weight: 600;
}

.nav-links a:hover,
.nav-register a:hover {
  color: var(--color-blanco);
}

.nav-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-blanco);
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-links a:hover::after,
.nav-register a:hover::after {
  width: 100%;
}

.nav-register {
  margin-left: auto;
  margin-top: 3rem;
}
.nav-register a:hover{
  color: var(--color-botones);
  background-color: var(--color-blanco);
  font-weight: 900;
}

.nav-register a {
  color: var(--color-blanco);
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  background: var(--color-botones);
}

.nav-register a {
  color: var(--color-blanco);
  padding: 10px 23px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  background: var(--color-botones);
  font-size: 1.6rem;
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-register.show {
  display: block;
  opacity: 1;
}

/**/
.datos-container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.datos-container .lin{
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  align-items: center;

}
.datos-container .lin:nth-child(2){
  margin-bottom: 8rem;
}
.datos-container .lin .mitad{
  width: 50%;
}
.datos-container h2{
  font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--color-blanco);
    text-transform: uppercase;
}
.datos-container h2 span{
  background: linear-gradient(90deg, #00c4de, #d41fd7); /* Gradiente en color */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.datos-container p{
  font-size: 1.5rem; color: var(--color-blanco);
  width: 30rem;
}
.lin img{
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

/* Inicio */
header section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Inicio-images {
  display: none;
}

#inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-image: url(/images/fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
}

.inicio-container {
  width: 85%;
  margin: 0 auto;
}
.ini{
  margin-top: -4rem;
  margin-bottom: -2rem;
}
.display-4 {
  color: var(--color-blanco);
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.lead {
  font-size: 2rem;
  font-weight: 300;
  margin: 0rem 0 2rem 0;
}
.icons-header{
  display: flex;
  flex-direction: row;
}
.icons-header .mess{
    color: var(--color-blanco);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border: solid 1px var(--color-blanco);
    padding-left: 2rem;
}
.icons-header img {
  width: 4rem;
  position: absolute;
  margin-left: -4rem;
  margin-top: -1.5rem;
}
.icons-header .mess:nth-child(2){
  margin-left: 5rem;
}


.inicio-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-principal {
  font-size: 1.3rem;
}
.inicio-container .ini{
  width: 35rem;
}

/*-----------------------SPONSOR-----------------------*/
#sponsors {
  padding-top: 50px;
}

.sponsors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.sponsor {
  text-align: center;
  width: 30%;
  min-width: 250px;
}

.sponsor img{
  max-width: 70%;
  min-width: 150px;
}

/*Contador*/
.contador-container {
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0 8rem 0;
}
.contador-container h2{
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contador-container h2 span{
  background: linear-gradient(90deg, #5cb1ff, #b14bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contador {
  display: inline-block;
  font-size: 48px;
  background-color: #2b3a67;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 17px 14px 10px 6px rgba(43,58,103,1);
  -moz-box-shadow: 17px 14px 10px 6px rgba(43,58,103,1);
  box-shadow: 17px 14px 10px 6px rgba(43,58,103,1);

  border-style: solid;
  border-color: var(--color-blanco);
  border-width: 8px 5px; /* Arriba y abajo: 8px | Derecha e izquierda: 5px */
}

.digit {
  display: inline-block;
  width: 90px;
  background-color: #3450a1;
  color: #fff;
  margin: 0 5px;
  padding: 30px 8px;
  font-size: 48px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #3450a1, #000080 50%, #3450a1);
}


/* INFO */
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 20px;
  color: var(--color-negro);
}

.section-separator {
  font-size: 4rem;
  color: var(--color-azul-marino);
}

.section-title {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-azul-marino);
  text-transform: uppercase;
}

.section-message {
  font-size: 2rem;
  font-weight: 700;
  margin-top: -1rem;
  margin-bottom: 4rem;
  text-align: center;
  color: var(--color-blanco);
}

.info-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
}

#imagen-section {
  max-width: 70%;
  position: relative;
  height: 38rem;
  transform: translateY(0);
  transition: transform 0.2s ease-out;
}

.section-text {
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding: 4rem;
  max-width: 47%;
  position: absolute;
  left: 52%;
  -webkit-box-shadow: 1px 1px 6px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 6px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 6px 5px rgba(0, 0, 0, 0.08);
  background-color: var(--color-blanco);
  z-index: 1;
}
.subtitulos {
  color: var(--color-azul-marino);
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.parrafos {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: var(--color-gris);
}

.info-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.info-column {
  flex: 1;
  text-align: left;
  padding: 1rem;
}

.info-column p,
.info-column ul {
  font-size: 1.1rem;
  color: var(--color-negro);
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-gris);
}

.info-column p span {
  color: var(--color-gris);
  font-weight: 600;
}

.info-column .lista {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 500;
}

.info-column .lista i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.info-column .icon {
  margin-right: 0.7rem;
  font-size: 2.6rem;
  margin-bottom: 1rem;
  color: var(--color-gris);
}

.info-registro {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 6px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 1px 6px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 1px 6px 5px rgba(0, 0, 0, 0.08);
  background-color: var(--color-blanco);
  z-index: 1;
  padding: 3rem;
}

.info-registro p {
  font-size: 2rem;
}
.info-registro p span {
  color: var(--color-gris);
}

.info-registro p span::after {
  content: '';
  display: block;
  margin-top: 10px;
}

.info-registro a {
  color: var(--color-azul-marino);
  padding: 15px 20px;
  text-transform: uppercase;
  border: var(--color-azul-marino) solid 2px;
  font-weight: 600;
  text-decoration: none;
  width: fit-content;
}

.info-registro a:hover {
  color: var(--color-blanco);
  background: var(--color-azul-marino);
}

main {
  background-image: linear-gradient(145deg, #295dc7, #1e2864, #295dc7);
}

/*-----------------------DESAFÍOS-----------------------*/
#desafios {
  padding: 100px 10px 10px 10px;
}

.desafios-header {
  position: relative;
}

.desafios-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.desafio {
  width: 35%;
  padding: 20px;
  display: flex;
  gap: 50px;
  flex-shrink: 1;
  min-width: 400px;
  background-image: linear-gradient(145deg, #295dc7, #1e2864, #295dc7);
  border-radius: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.desafio-contenido {
  display: flex;
  flex-direction: column;
  color: white;
  width: 70%;
  padding-left: 15px;
}

.desafio-contenido h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  flex-grow: 1;
}

.desafio-contenido p {
  font-size: 1.5rem;
}

.desafio-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70px;
}

.desafio-img-container img{
  text-align: center;
  width: 80%;
}


/*-----------------------PREMIOS-----------------------*/
#premios {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.premios-message {
  font-size: 2rem;
  font-weight: 700;
  margin-top: -1rem;
  margin-bottom: 4rem;
  text-align: center;
  color: var(--color-blanco);
}

.premios {
  text-align: center;
  padding: 20px;
}

.premios h2 {
  margin-bottom: 20px;
  color: var(--color-blanco);  
}

.premios-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.premio {
  background-image: linear-gradient(145deg, #295dc7, #1e2864, #295dc7);
  border-radius: 35px;
  padding: 20px;
  margin: 10px;
  flex: 1;
  min-width: 200px;
  max-width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.premio:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.premio img{
  width: 65%;
  margin-bottom: 10px;
}

.premio h3 {
  font-weight: bold;
  font-size: 2rem;
  margin: 10px 0;
}

.premio hr {
  margin: 30px 0;
}

.premio .monto {
  font-size: 2em;
  color: var(--color-blanco);
  font-weight: bold;
}

.premio .detalle {
  font-size: 1.2rem;
  color: white;
  line-height: 20px;
}

.premio-img {
  width: 65%;
}

/*-----------------------FOOTER-----------------------*/
.footer-container {
  display: flex;
  justify-content: space-around;  
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  position: relative;
  background-color: var(--color-celeste);
}

.footer-img-container {
  text-align: center;
  margin: auto;
}

.footer-img-container-tecsup {
  width: 55%;
  min-width: 250px;
}

.footer-info {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.footer-info_correo {
  flex-grow: 1;
}

.footer-info_details {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer-info_details i {
  font-size: 24px;
}

.details {
  color: white;
}

.details h4 {
  font-weight: 400;
}

.details p {
  font-weight: 700;
}

.details a{
  text-decoration: none;
    color: white;
    font-weight: 800;
}

/*-----------------------MEDIA QUERIES-----------------------*/
@media (max-width: 767px) {
  #inicio {
    background-image: none;
    background-image: linear-gradient(145deg, #295dc7, #1e2864, #295dc7);
  }

  /* Barra de Navegación */
  header section {
    min-height: 90vh;
  }

  .nav-links {
    display: none;
  }

  .inicio-container {
    width: 100%;
  }

  .nav-register.show {
    display: none;
    opacity: 1;
  }

  .nav-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.6rem;  
  }
  .nav-toggle-m{
    margin-left: 20px;
  }

  .fa-burger {
    display: block;
  }

  /* Estilos para el menú móvil como ventana emergente */
  .nav-mobile {
    display: none;
    position: fixed; /* Fija el menú en la pantalla */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    background-color: black;
    color: white;
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
    padding: 2rem;
    overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
  }

  .nav-mobile .nav-exit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Ajusta el espaciado entre el logo y el icono de cerrar */
    margin-bottom: 4rem;
  }

  .nav-mobile .nav-exit img {
    width: 133px;
  }

  .nav-mobile .nav-exit i {
    font-size: 1.6rem;
    cursor: pointer;
  }
  .nav-links-mobile {
    display: flex;
    flex-direction: column;
  }
  .nav-mobile a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    position: relative;
    font-weight: 700;
  }

  .nav-register-mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .nav-register-mobile a {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    border: white solid 2px;
    font-weight: 600;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }

  /*----Inicio----*/
  .inicio-container .ini {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .display-4 {
    font-size: 2.8rem;
    margin-top: 3rem;
  }

  .icons-header .mess{
    font-size: .8rem;
    width: 35%;
    text-align: left;
    align-items: center;
  }
  .icons-header .mess:nth-child(2) {
    margin-left: 4rem;
  }

  .icons-header .mess .icon:nth-child(2){
    width: 5rem;
  }
  .inicio-container h1{
    margin-left: 1rem;
  }
  .lead {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .nav-register {
    display: block;
    margin-top: -9rem;    
    text-align: center;    
    margin-bottom: 3rem;
  }
  .nav-register a{
    font-size: 1.4rem;
  }
  .icons-header {
    margin-top: 9rem;    
    justify-content: center;
    padding-left: 1rem;
  }
  /*CONTADOR*/
  .contador-container h2 span{
    font-size: 2.5rem;
  }
  .digit {
    width: 50px;
    padding: 25px 2px;
    font-size: 25px;
  }
  /*-------Sponsors*/
  /* Estilos generales */
#sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.sponsors-list {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.sponsor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sponsor img {
  width: 100%;
  height: auto;
}
#info{
  padding-top: 0;
}

/* Imagen visible */
.sponsor.active {
  opacity: 1;
}




  /*----DATOS-----*/
  .datos-container {
    padding: 0 2rem;
  }

  .datos-container .lin {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
  }

  .datos-container .lin .mitad {
    width: auto;
  }

  .lin img {
    width: 100%;
    margin-bottom: 4rem;
  }
  .lin img:nth-child(2) {
    display: none;
  }

  .datos-container p {
    width: auto;
    text-align: justify;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }

  /*------DESAFIOS----*/
  #desafios {
    padding: 0 2rem;
  }
  .desafio-contenido {
    width: 80%;
  }

  .desafio-contenido h2 {
    font-size: 1.5rem; 
  }

  .desafio-contenido p {
    font-size: 1.2rem;
  }

  .desafio-img-container {
    width: 20%;
  }
  .desafio {
    width: auto;
    min-width: auto;
    gap: 1px;
  }

  /*-----PREMIOS----*/
  .section-message {
    font-size: 1.4rem;
  }

  .footer-container{    
    padding: 3rem 0 0 0;
  }

  .footer-img-container-tecsup {
    min-width: 290px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #inicio {
    background-image: linear-gradient(145deg, #295dc7, #1e2864, #295dc7);
  }

  /* Barra de Navegación */
  header section {
    min-height: 90vh;
  }

  .nav-links {
    display: none;
  }

  .inicio-container {
    width: 100%;
  }

  .nav-register.show {
    display: none;
    opacity: 1;
  }

  .nav-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.6rem;    
    margin-left: 20%;
  }

  .fa-burger {
    display: block;
  }

  /* Estilos para el menú móvil como ventana emergente */
  .nav-mobile {
    display: none;
    position: fixed; /* Fija el menú en la pantalla */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    background-color: black;
    color: white;
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
    padding: 2rem;
    overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
  }

  .nav-mobile .nav-exit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Ajusta el espaciado entre el logo y el icono de cerrar */
    margin-bottom: 4rem;
  }

  .nav-mobile .nav-exit img {
    width: 133px;
  }

  .nav-mobile .nav-exit i {
    font-size: 1.6rem;
    cursor: pointer;
  }
  .nav-links-mobile {
    display: flex;
    flex-direction: column;
  }
  .nav-mobile a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    position: relative;
    font-weight: 700;
  }

  .nav-register-mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .nav-register-mobile a {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    border: white solid 2px;
    font-weight: 600;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }

  /*----Inicio----*/
  .inicio-container .ini {
    width: 60%;
    margin-left: 20%;
  }

  .display-4 {
    font-size: 3.2rem;
  }

  .icons-header .mess{
    font-size: 1rem;
    width: auto;
    text-align: left;
    align-items: center;
  }
  .icons-header .mess:nth-child(2) {
    margin-left: 4rem;
  }

  .icons-header .mess .icon:nth-child(2){
    width: 5rem;
  }
  .inicio-container h1{
    margin-left: 1rem;
  }
  .lead {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .nav-register {
    display: block;
    margin-top: -9rem;    
    text-align: center;    
    margin-bottom: 3rem;
  }
  .nav-register a{
    font-size: 1.4rem;
  }
  .icons-header {
    margin-top: 10rem;
    margin-bottom: 2rem;
    justify-content: center;
    padding-left: 1rem;
  }
  /*CONTADOR*/
  .contador-container h2 span{
    font-size: 2.5rem;
  }

  /*-------Sponsors*/
  /* Estilos generales */
#sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.sponsors-list {
  position: relative;
  width: 500px;
  height: 200px;
  margin-bottom: 3rem;
  overflow: hidden;
}

.sponsor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sponsor img {
  width: 100%;
  height: auto;
}
#info{
  padding-top: 0;
}

/* Imagen visible */
.sponsor.active {
  opacity: 1;
}




  /*----DATOS-----*/
  .datos-container {
    padding: 0 2rem;
  }

  .datos-container .lin {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
  }

  .datos-container .lin .mitad {
    width: auto;
  }

  .lin img {
    width: 100%;
    margin-bottom: 4rem;
  }
  .lin img:nth-child(2) {
    display: none;
  }

  .datos-container p {
    width: auto;
    text-align: justify;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }

  /*------DESAFIOS----*/
  #desafios {
    padding: 0 2rem;
  }
  .desafio-contenido {
    width: 80%;
  }

  .desafio-contenido h2 {
    font-size: 2.2rem; 
  }

  .desafio-contenido p {
    font-size: 1.5rem;
  }

  .desafio-img-container {
    width: 20%;
  }
  .desafio {
    width: auto;
    min-width: auto;
    padding: 30px 20px;
    gap: 1px;
  }

  /*-----PREMIOS----*/
  .section-message {
    font-size: 1.4rem;
  }

  .footer-container{    
    padding: 3rem 0 0 0;
  }

  .footer-img-container-tecsup {
    min-width: 290px;
  }
}